extends layout

block content
	h1 Mousesquad.org has shut down.
	p.
		Mouse has launched our new learning platform Mouse Create at <a href="https://create.mouse.org">https://create.mouse.org</a>.
	a(href="https://create.mouse.org/") Click here to go to Mouse Create
	p.
		Read about the transition to Mouse Create on The Wire <a href="https://mouse.org/news/shut-down-of-mousesquad-org-this-thursday-december-1">here</a>.
	p.
		Email us with any questions at <a href="mailto:help@mouse.org">help@mouse.org</a>.